div.map { float:left; width:100px; height:100px; }
div.data { float:left; width:300px; }

.olControlEditingToolbar div { width:25px !important; }
.olControlEditingToolbar .olControlDragFeatureItemInactive { background-position:-102px 0px; }
.olControlEditingToolbar .olControlDragFeatureItemActive { background-position:-102px -23px; }
.olControlEditingToolbar .olControlSelectFeatureItemInactive { background-position:-76px 0px; }
.olControlEditingToolbar .olControlSelectFeatureItemActive { background-position:-76px -23px; }
